.container {
  width: 320px;
  margin: 0 auto;
  transform: perspective(100px) rotateY(3deg);
}
.red-line {
  width: 320px;
  height: 60px;
  background-color: red;
  float: left;
}
.square-red1 {
  width: 60px;
  height: 70px;
  background-color: red;
  float: left;
}

.square-red2 {
  width: 60px;
  height: 60px;
  background-color: red;
  float: left;
}

.square-red3 {
  width: 70px;
  height: 70px;
  background-color: red;
  float: left;
}
.square-red4 {
  width: 70px;
  height: 60px;
  background-color: red;
  float: left;
}
.square-white1 {
  width: 60px;
  height: 70px;
  background-color: white;
  float: left;
}
.square-white2 {
  width: 60px;
  height: 60px;
  background-color: white;
  float: left;
}

.square-white3 {
  width: 70px;
  height: 70px;
  background-color: white;
  float: left;
}
.square-white4 {
  width: 70px;
  height: 60px;
  background-color: white;
  float: left;
}
